.ChatRoomFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top: 1px solid lightgray;
}

.ChatRoomFooter > form {
    flex: 1;
    display: flex;
}

.ChatRoomFooter > form > input {
    flex: 1;
    border-radius: 30px;
    padding: 10px;
    border: none;
    outline: none;
}

.ChatRoomFooter > form > button {
    display: none;
}

.ChatRoomFooter > .MuiSvgIcon-root {
    padding: 10px;
    color: gray;
}