.ChatRoomBody {
    flex: 1;
    /* background-image: none;
    background-repeat: repeat;
    background-position: center; */
    background-color: beige;
    padding: 30px;
    overflow: scroll;
}

.ChatMessage {
    position: relative;
    font-size: 16px;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 30px;
}

.ChatReciever {
    margin-left: auto;
    background-color: #dcf8c6;
}

.ChatTimestamp {
    margin-left: 10px;
    font-size: xx-small;
}

.ChatName {
    position: absolute;
    top: -15px;
    font-weight: 800;
    font-size: xx-small;
}